<div class="container">
    <div class="controller">
        <div class="controller__times">
            <label for="times-input">Times:</label> 
            <input 
                id="times-input"
                type="number"
                min="0" 
                [disabled]="timerIsActive" 
                value="8">
        </div>
        <br>
        <div class="controller__duration">
            <!-- <label for="duration-input">Duration:</label>  -->
            <input 
                id="duration-minutes"
                type="number"
                [disabled]="timerIsActive" 
                value="00">m &nbsp;
            <input 
                id="duration-seconds"
                type="number"
                [disabled]="timerIsActive" 
                value="30">s
        </div>
        <br>
        <button
            [style.display]="timerIsActive ? 'none': 'block'"
            class="controller__button" 
            (click)="toggleTimer()">
            START
        </button>
        <button 
            [style.display]="!timerIsActive? 'none': 'block'"
            class="controller__reset-button" 
            (click)="resetTimer()">
            RESET
        </button>
    </div>
    <div  
        class="clock {{timerIsRunning ? 'active': ''}}"
        (click)="toggleTimer()">
        {{time}}
    </div>
</div>
