<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav thymer-theme">
    <div class="nav-title">TIMER</div>
    <button routerLink="./stopwatch" class="nav-item" (click)="drawer.close()">Stopwatch</button>
    <button routerLink="./countdown" class="nav-item" (click)="drawer.close()">Countdown</button>
    <button routerLink="./repeatable-timer" class="nav-item" (click)="drawer.close()">Repeatable Timer</button>
  </mat-drawer>
  <main>
    <div class="sidenav-content">
      
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      
      <span>THYMER</span>
      
      <button mat-icon-button>
        <!--TO BE ADDED-->
        <mat-icon>null</mat-icon>
      </button>
      
    </div>  
    <router-outlet></router-outlet>
  </main>
</mat-drawer-container>
